<mat-card class="">
	<mat-card-header>
		<mat-card-title>Tile looof</mat-card-title>
		<mat-card-subtitle>Veritatis consequatur iusto.</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image src="/assets/Images/All/1.jpg" alt="Photo of a Shiba Inu">
	<mat-card-content>
		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias cumque similique corrupti dicta non iure,
			assumenda enim cupiditate inventore a repellat ducimus, et, distinctio mollitia quasi! Qui, debitis? Tempora,
			perspiciatis?
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button>LIKE</button>
		<button mat-button>SHARE</button>
	</mat-card-actions>
</mat-card>
<mat-card class="">
	<mat-card-header>
		<mat-card-title>Placeat, doloremque</mat-card-title>
		<mat-card-subtitle>Ipsa corrupti maiores consequatur quam obcaecati.</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image src="/assets/Images/All/2.jpg" alt="Photo of a Shiba Inu">
	<mat-card-content>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, aut corporis molestias qui sapiente ut
			repellendus magnam laborum. Eius quasi iure repellendus, explicabo vitae voluptate illum modi nemo iusto enim.
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button>LIKE</button>
		<button mat-button>SHARE</button>
	</mat-card-actions>
</mat-card>
<mat-card class="">
	<mat-card-header>
		<mat-card-title>Harum adipisci</mat-card-title>
		<mat-card-subtitle>Repellat ipsam itaque blanditiis eveniet soluta.</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image src="/assets/Images/All/3.jpg" alt="Photo of a Shiba Inu">
	<mat-card-content>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos numquam tempora impedit ipsum voluptate veniam nam
			tenetur beatae libero doloribus maiores commodi, optio quas aliquid itaque quae dolorem, sunt quibusdam.
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button>LIKE</button>
		<button mat-button>SHARE</button>
	</mat-card-actions>
</mat-card>
<mat-card class="">
	<mat-card-header>
		<mat-card-title>Ex consequuntur velit cupiditate aperiam.</mat-card-title>
		<mat-card-subtitle>Beatae, placeat?</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image src="/assets/Images/All/4.jpg" alt="Photo of a Shiba Inu">
	<mat-card-content>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum praesentium autem quaerat magnam. Voluptate
			quam in recusandae sunt consequatur dicta soluta quidem! Iure sit porro sed modi impedit similique! Deserunt?
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button>LIKE</button>
		<button mat-button>SHARE</button>
	</mat-card-actions>
</mat-card>