<header>
    <div class="container">
        <nav class="navbar navbar-light bg-light d-flex justify-content-start">
            <button class="navbar-toggler mr-5" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Cookery Book</a>
        </nav>
    </div>
</header>